<div class="container color-dark">
  <div class="col">
    <p>Music Player</p>
  </div>
  <div class="col">
    <p>Now playing track ({{reproduc+1}})</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <audio #musicPlayer src={{source+music[reproduc]}} controls="controls" type="audio/mpeg" preload="preload">
    </audio>
    <p class="sm">Use this to add new tracks and change track</p>
    <form action="">
      <input type="text" class="txt" name="item" placeholder="New track" [(ngModel)]="newTrackText">
      <input type="submit" class="btn" value="Add Track" (click)="addTrack()">
    </form>
  </div>
  <div class="col">
    <p *ngFor="let track of music; let i = index" class="life-container" (click)="nextTrack(i)">
      {{track}}
    </p>
  </div>
</div>